@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

:root {
	--gold: #ffd700;
	--black: #080600;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Indie Flower", cursive;
}

body {
	background-color: var(--black);
}

.grid-container {
	min-height: 100vh;
	display: grid;
	justify-items: center;
}

.button-container {
	width: clamp(200px, 80%, 600px);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 40px;
}

button {
	color: var(--gold);
	background-color: var(--black);
}

.pick-button {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 24px;
	padding: 20px;
	color: var(--gold);
	border: none;
}

.pick-img {
	margin-bottom: 20px;
}

.current-round-container {
	margin: 30px auto 0;
	width: clamp(200px, 60%, 600px);
	color: var(--gold);
	border: 1px solid var(--gold);
}

.current-round {
	padding: 20px;
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pick-display {
	padding: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.round-summary-container {
	padding: 20px;
	height: 70px;
	font-size: 24px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.score-container {
	padding: 20px;
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.endgame-container {
	margin: 40px auto 0;
	display: flex;
	flex-direction: column;
	width: clamp(200px, 60%, 600px);
}

.winner-container {
	text-align: center;
	background-color: var(--black);
	font-size: 36px;
}

.play-again-button {
	padding: 20px;
	border: 1px solid var(--gold);
	font-size: 30px;
	margin: 30px 0 50px;
}

.footer {
	width: 100vw;
	align-self: end;
	color: var(--gold);
	font-size: 24px;
	padding: 10px;
	border-top: 3px solid var(--gold);
	text-align: center;
}

.is-hidden {
	visibility: hidden;
}

@media screen and (max-width: 600px) {
	.button-container {
		width: 85%;
		gap: 0px;
	}
	.pick-button {
		margin: 0 -20px;
		padding: 0;
	}
	.pick-img {
		width: 64px;
		margin-bottom: 5px;
	}
	.current-round-container {
		width: 85%;
		margin: 0;
		padding: 0;
	}
	.current-round {
		padding: 10px 0 0;
		font-size: 26px;
	}
	.score-container {
		font-size: 24px;
		padding: 10px 0 0;
	}
	.endgame-container {
		width: 85%;
		margin-top: 10px;
	}
	.play-again-button {
		margin: 10px 0 0;
		padding: 10px 0;
		font-size: 24px;
	}
	.footer {
	}
}
