@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

:root {
	--gold: #ffd700;
	--black: #080600;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Indie Flower', cursive;
}

body {
	height: 100vh;
	background-color: var(--black);
}

.button-container {
	display: flex;
	justify-content: center;
	gap: 40px;
}

button {
	color: var(--gold);
	background-color: var(--black);
}

.pick-button {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 24px;
	padding: 20px;
	color: var(--gold);
	border: none;
}

.pick-img {
	margin-bottom: 20px;
}

.current-round-container {
	margin: 30px auto 0;
	width: 600px;
	color: var(--gold);
	border: 1px solid var(--gold);
}

.current-round {
	padding: 20px;
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pick-display {
	padding: 20px;
	display: flex;
	justify-content: space-around;
}

.round-summary-container {
	padding: 20px;
	height: 70px;
	font-size: 24px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.score-container {
	padding: 20px;
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.endgame-container {
	margin: 40px auto 0;
	display: flex;
	flex-direction: column;
	width: 600px;
}

.winner-container {
	text-align: center;
	background-color: var(--black);
	font-size: 36px;
}

.play-again-button {
	padding: 20px;
	border: 1px solid var(--gold);
	font-size: 30px;
	margin-top: 30px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100vw;
	color: var(--gold);
	font-size: 24px;
	padding: 10px;
	border-top: 3px solid var(--gold);
	text-align: center;
}

.footer a {
	color: var(--gold);
}

.is-hidden {
	visibility: hidden;
}